.cartaTraseraJuego {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 60px;
  margin: 0px 50px;
}

.imgCartaTrasera{
  width: 150px;
}

.imgCartaDelantera{
  background-color: aquamarine;
  width: 150px;
  height: auto;
}
