.game-container {
  --game-cols: 2;
  --game-spacing: 0.75rem;

  display: grid;
  grid-template-columns: repeat(var(--game-cols), 1fr);
  grid-gap: var(--game-spacing);

  width: min-content;

  margin-block-start: 5rem;
  margin-inline: auto;
  padding: var(--game-spacing);

  border-radius: 0.5rem;

  background: linear-gradient(to top left, hsl(0, 0%, 0%), hsl(203, 30%, 26%));
}

@media (min-width: 375px) {
  .game-container {
    --game-cols: 3;
  }
}
@media (min-width: 540px) {
  .game-container {
    --game-cols: 4;
  }
}
