.game-container {
  position: relative;

  width: min-content;

  margin-block-start: 5rem;
  margin-inline: auto;
}

.game-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  margin-top: 1rem;
}

.btn-restart {
  font-family: inherit;
  font-size: 1.25rem;

  padding: 0.75rem 1.25rem;

  border: none;
  border-radius: 0.5rem;
  color: #fff;
  background-color: hsl(203, 30%, 26%);

  transition: background-color 150ms ease-in-out;
}

.btn-restart:where(:focus, :hover) {
  outline: none;
  background-color: hsl(203, 30%, 16%);
}

.game-board {
  --game-cols: 2;
  --game-spacing: 0.75rem;

  display: grid;
  grid-template-columns: repeat(var(--game-cols), 1fr);
  grid-gap: var(--game-spacing);

  width: min-content;

  padding: var(--game-spacing);

  border-radius: 0.5rem;

  background: linear-gradient(to top left, hsl(0, 0%, 0%), hsl(203, 30%, 26%));
}

@media (min-width: 375px) {
  .game-board {
    --game-cols: 3;
  }
}
@media (min-width: 540px) {
  .game-board {
    --game-cols: 4;
  }
}

.game-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.game-modal-body {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 2rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(
    to bottom left,
    #5f5e5e,
    hsl(185, 100%, 35%)
  );
}
