@charset "utf-8";

.containerEpisodios {
  padding-bottom: 100px;
}

.tarjetaEpisodio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 80ch;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  background-color: rgb(192, 188, 188);
  padding: 5vh;
}
.titulo {
  font-size: 24px;
  padding: 10px 10px 0 10px;
  ;
}
.cuerpo {
  padding: 10px;
}

.pie {
  padding: 10px;
  width: 100%;
}

.lista {
  list-style: none;
  justify-items: center;
}
.texto{
  font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 766px) {
  .tarjetaEpisodio {
    margin: 8vh 2vh 0 2vh;
  }
}