.containerDetailViewEpisodios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.divBotonAtras {
    margin-top: 5rem;
    margin-right: 5rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
