.todoHome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccionesHome {
    text-decoration: none;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: solid #00deea;
    margin: 10px;
    padding: 10px 0;
    border-radius: 5px;
}

.tituloSeccionesHome {
    color: #00deea;
    margin: 0;
    padding: 5px;
}

.imgSeccionesHome {
    width: 95%;
    border-radius: 5px;
}

.sliderEstilo{
    padding: 50px 30px;
}

@media (max-width: 799.99px) and (min-width: 600px) {

    .sliderEstilo{
        padding: 50px 100px;
    }

}

@media (max-width: 999.99px) and (min-width: 800px) {

    .sliderEstilo{
        padding: 50px 200px;
    }

}

@media (max-width: 1199.99px) and (min-width: 1000px) {
    .seccionesHome {
        display: flex;
        flex-direction: row;   
    }

    .sliderEstilo{
        padding: 50px 300px;
    }

    .tituloSeccionesHome {
        width: 50%;
        justify-content: space-around;
        flex-direction: row;
        text-align: center;
    }

    .imgSeccionesHome {
        width: 50%;
        margin: 0 20px;
    }

}

@media (min-width: 1200px) {
    .todoHome {
        justify-content: space-around;
        flex-direction: row;
        padding: 100px 50px;
    }

    .seccionesHome {
        width: 33%;
    }

    .tituloSeccionesHome {
        width: 50%;
        text-align: center;
    }

    .imgSeccionesHome {
        height: 390px;
        margin: 0 20px;
    }

    .sliderEstilo{
        padding: 50px 400px;
    }


}