.todoHome {
    margin: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.seccionesHome {
    width: 95%;
    display: grid;
    flex-direction: column;
    place-items: center;
    border: solid #94B0B2;
    margin: 10px;
    padding: 10px 0;
}

.tituloSeccionesHome{
    color:#94B0B2; 
    margin: 0;
    padding: 5px;
}

.imgSeccionesHome {
    width: 80%;
}