:root {
  --nav-bg-clr: hsl(0, 0%, 20%, 0.95);
}

.nav-btn {
  position: fixed;
  z-index: 2;
  right: 0;

  width: 5rem;
  aspect-ratio: 1;

  padding: 1rem;
  cursor: pointer;

  border: none;
  border-bottom-left-radius: 100%;
  background-color: var(--nav-bg-clr);

  transition: background-color 250ms ease-in-out;
}

@media (min-width: 768px) {
  .nav-btn {
    display: none;
  }
}

.nav-btn.open {
  background-color: transparent;
}

.line {
  position: relative;
  margin-inline: auto;
  top: -10px;
  right: -10px;
}

.line::before {
  top: -10px;
}
.line::after {
  top: 10px;
}

.line::before,
.line::after {
  content: "";
  position: absolute;
  left: 0;
}

.line,
.line::before,
.line::after {
  display: block;
  height: 2px;
  width: 30px;
  background-color: #fff;
  transform-origin: center;
  transition: all 250ms ease-in-out;
}

.nav-btn.open > .line {
  rotate: 45deg;
}
.nav-btn.open > .line::before {
  translate: 0 10px;
  rotate: -90deg;
}
.nav-btn.open > .line::after {
  translate: 0 -10px;
  rotate: -90deg;
}

.nav {
  position: fixed;
  inset: 0;
  z-index: 1;

  display: flex;
  background-color: var(--nav-bg-clr);

  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

@media (min-width: 768px) {
  .nav {
    position: static;
    visibility: visible;
    opacity: 1;
  }
}

.nav.open {
  visibility: visible;
  opacity: 1;
}

.nav-list {
  display: flex;
  flex-direction: column;

  width: max-content;
  max-height: 60vh;

  margin-block: 20vh;
  margin-inline: auto;
  list-style-type: none;
  color: #fff;

  overflow-y: auto;
}

@media (min-width: 768px) {
  .nav-list {
    flex-direction: row;
    max-height: unset;
    margin: 0;
    overflow-y: unset;
  }
}

.nav-link {
  display: inline-block;
  padding: 1rem 2rem;
  width: 100%;
  color: inherit;
  text-align: center;
  text-decoration-color: transparent;
  font-size: 2rem;

  transition: color 100ms ease-in-out, text-decoration-color 100ms ease-in-out;
}

@media (min-width: 768px) {
  .nav-link {
    font-size: inherit;
  }
}

.nav-link:where(.active, :hover, :focus) {
  color: hsl(197, 71%, 73%);
  text-decoration-color: inherit;
}
