* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    text-decoration: none;
    list-style-type: none;
    }


    .btn_notification{
       background-color: #F2E852;
       text-decoration: none;
       border: none;
       color: #525151;
       font-size: 1rem;
       border-radius: 50%;
       padding: 10px;
    }

    