* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    text-decoration: none;
    list-style-type: none;
    }

    .button_notification_container {
   background-color: #00DEEA;
    }
    .button_notification{
        border: none;
        margin: 5px 5px 5px 5px;
     
        color: white;
        cursor: hand;
    }