table {
    width: 800px;
    margin-top: 80px;
    /* border: 1px solid #343a40; */
    border-collapse: collapse;
    /* font-size: 18px; */
}

th,
td {
    /* border: 1px solid #343a40; */
    padding: 16px 24px;
    text-align: left;
}

thead th {
    background-color: hsl(197, 71%, 73%);
    color: #fff;
    width: 25%;
}

tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

tbody tr:nth-child(odd) {
    background-color: #e9ecef;
}
.loader-button {
    position: relative;
    display: inline-block;
    /* padding: 0 10rem; */
    outline: none;
    border: none;
    background: hsl(197, 71%, 73%);
    color: #fff;
    letter-spacing: 1px;
    font-size: 1em;
    font-family: Shlop;
    line-height: 4;
    padding-left: 1rem;
    padding-right: 1rem;

    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}
