table {
    width: 800px;
    margin-top: 80px;
    /* border: 1px solid #343a40; */
    border-collapse: collapse;
    font-size: 18px;
}

th,
td {
    /* border: 1px solid #343a40; */
    padding: 16px 24px;
    text-align: left;
}

thead th {
    background-color: #087f5b;
    color: #fff;
    width: 25%;
}

tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

tbody tr:nth-child(odd) {
    background-color: #e9ecef;
}
