.footer {
    /* font-size: 75%; */
    background: linear-gradient(white, #00DEEA );
    padding: 0 30px 0 30px;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.text{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  }