.game-card {
  --card-radius: 0.5rem;

  position: relative;

  min-width: 100px;
  aspect-ratio: 5/7;

  border-radius: var(--card-radius);
  background-color: hsl(205, 35%, 10%);

  transform-style: preserve-3d;
  transition: rotate 250ms ease-in-out;
}

.card-front,
.card-back {
  position: absolute;
  inset: 0;

  border-radius: var(--card-radius);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  backface-visibility: hidden;
}

.game-card:where(.flipped),
.card-front {
  rotate: y 180deg;
}

.card-back {
  background-image: repeating-radial-gradient(
    ellipse at center,
    hsl(185, 70%, 45%),
    hsl(185, 70%, 30%) 25%
  );
}

.card-back::after {
  content: "R&M";

  position: absolute;
  top: 50%;
  left: 50%;

  font-size: 3rem;

  color: hsl(0, 0%, 0%, 0.9);

  translate: -50% -50%;
  rotate: -45deg;
}
