.formulario{
   display: flex;
   justify-content: center;
   min-height: max-content;
   background-color: transparent;
   flex-direction: column;
   align-items: center;
}
.titulo{
    font-size: x-large;
    color: #D4E586;
}

.label{
    color:#00DEEA;
}
.button{
    background-color: #D4E586;

}
