@font-face {
  font-family: Shlop;
  src: url(./fonts/shlop_rg.ttf);
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.App {
  font-family: Shlop;
}
